// Note: Brand Color is #005B7F
$_brand-color: (
  darkest: #001D29,
  dark: #003B53,
  normal: #005B7F,
  light: #4DB2D6,
  lightest: #E5F2F7,
  header: #20404F,
  header-dark: #102630,
);

@mixin init() {
  & {
    @each $key, $value in $_brand-color {
      --brand-color-#{$key}: #{$value};
    }
  }
}
