<mat-card appearance="raised">
  @if (formGroup) {
    <form [formGroup]="formGroup">
      <mat-card-content>
        <app-heading headingType="h3" i18n="@@page.ipCidr.card.input.heading">入力設定</app-heading>
        <div class="flex wrap">
          <div class="input-form-wrapper flex wrap">
            <mat-form-field class="input-form">
              <mat-label i18n="@@page.ipCidr.card.input.protocol">プロトコル</mat-label>
              <mat-select [value]="protocol" (selectionChange)="onProtocolChange($event.value)">
                <mat-option value="ipv4">IPv4</mat-option>
                <mat-option value="ipv6">IPv6</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="input-form">
              <mat-label i18n="@@page.ipCidr.card.input.ipAddress">IPアドレス</mat-label>
              <input matInput type="text"
                [placeholder]="protocol === 'ipv4' ? '192.168.1.1 or 192.168.1.1/24' : '2001:db8::1 or 2001:db8::1/64'"
                formControlName="ipAddress"
                (blur)="onIpAddressBlur($event)">
            </mat-form-field>
          </div>
          <div class="cidr-slider-wrapper">
            <span class="cidr-label" i18n="@@page.ipCidr.card.input.cidr">CIDR</span>
            <div class="slider-container">
              <mat-slider [min]="0" [max]="maxCidr" [step]="1" discrete (change)="onCidrChange($event)">
                <input matSliderThumb formControlName="cidr">
              </mat-slider>
              <span class="cidr-value">{{ cidrValue }}</span>
            </div>
          </div>
        </div>

        @if (errorMessage !== null) {
          <mat-error>{{ errorMessage }}</mat-error>
        }
      </mat-card-content>
    </form>
  }
</mat-card>
