<div mat-dialog-title>{{ data.text['datetimeMakerDialogTitle'] }}</div>
@if (formGroup) {
  <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
    <mat-dialog-content>
      <p class="message">{{ data.text['datetimeMakerDialogMessage'] }}</p>
      <div class="flex between wrap">
        <mat-form-field class="date">
          <mat-label>{{ data.text['baseDate'] }}</mat-label>
          <input matInput [placeholder]="getDateFormatString" formControlName="baseDate" [matDatepicker]="picker" cdkFocusInitial>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
        <div class="flex between">
          <mat-form-field class="time">
            <mat-label>{{ data.text['hours'] }}</mat-label>
            <input matInput type="number" max="23" min="0" formControlName="baseHours">
          </mat-form-field>
          <mat-form-field class="time">
            <mat-label>{{ data.text['minutes'] }}</mat-label>
            <input matInput type="number" max="59" min="0" formControlName="baseMinutes">
          </mat-form-field>
          <mat-form-field class="time">
            <mat-label>{{ data.text['seconds'] }}</mat-label>
            <input matInput type="number" max="59" min="0" formControlName="baseSeconds">
          </mat-form-field>
        </div>
      </div>
      @if (errorMessage !== null) {
        <mat-error>{{ errorMessage }}</mat-error>
      }
    </mat-dialog-content>
    <mat-dialog-actions>
      <button mat-stroked-button type="button" (click)="onCancelClick()">{{ data.text['cancel'] }}</button>
      <button mat-flat-button type="submit" [disabled]="errorMessage !== null" color="primary">{{ data.text['ok'] }}</button>
    </mat-dialog-actions>
  </form>
}