<app-application-page-template [initialHelpDrawerContent]="passwordGenHelpContent">
  <div class="margin-bottom-16">
    <app-heading headingType="h2">
      <span i18n="@@page.password.title">パスワード生成ツール</span>
      <button
        type="button"
        class="right"
        mat-icon-button
        i18n-aria-label="@@page.password.help.openAriaLabel"
        aria-label="パスワード生成ツールのヘルプを開く"
        (click)="onOpenHelp(passwordGenHelpContent)">
        <mat-icon>help_outline</mat-icon>
      </button>
    </app-heading>
  </div>
  <app-password-gen-input-card
    (generate)="onGenerate($event)"
  ></app-password-gen-input-card>
  <div class="spacer"></div>
  <app-password-gen-output-card
    #output
  ></app-password-gen-output-card>

  <ng-template #passwordGenHelpContent>
    <app-password-gen-help></app-password-gen-help>
  </ng-template>
</app-application-page-template>
