.flex {
  display: flex;
  gap: 8px 32px;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.input-form-wrapper {
  margin-top: 24px;
}

.input-form {
  width: 168px;
}

.toggle {
  margin-bottom: 20px;
}

.json-area {
  width: 100%;
}
