<app-application-page-template [initialHelpDrawerContent]="unixTimestampHelpContent">
  <div class="margin-bottom-16">
    <app-heading headingType="h2">
      <span i18n="@@page.unixTimestamp.title">UNIXタイム変換</span>
      <button
        type="button"
        class="right"
        mat-icon-button
        i18n-aria-label="@@page.unixTimestamp.help.openAriaLabel"
        aria-label="UNIXタイム変換ツールのヘルプを開く"
        (click)="onOpenHelp(unixTimestampHelpContent)">
        <mat-icon>help_outline</mat-icon>
      </button>
    </app-heading>
  </div>
  <app-unix-timestamp-input-card
    (convert)="onConvert($event)">
  </app-unix-timestamp-input-card>
  <div class="spacer"></div>
  <app-unix-timestamp-output-card
    #output>
  </app-unix-timestamp-output-card>

  <ng-template #unixTimestampHelpContent>
    <app-unix-timestamp-help></app-unix-timestamp-help>
  </ng-template>
</app-application-page-template>
