<app-application-page-template [initialHelpDrawerContent]="sqlFormatterHelpContent">
  <div class="margin-bottom-16">
    <app-heading headingType="h2">
      <span i18n="@@page.sql.title">SQL整形ツール</span>
      <button
        type="button"
        class="right"
        mat-icon-button
        i18n-aria-label="@@page.sql.help.openAriaLabel"
        aria-label="SQL整形ツールのヘルプを開く"
        (click)="onOpenHelp(sqlFormatterHelpContent)">
        <mat-icon>help_outline</mat-icon>
      </button>
    </app-heading>
  </div>
  <app-sql-formatter-input-card></app-sql-formatter-input-card>

  <ng-template #sqlFormatterHelpContent>
    <app-sql-formatter-help></app-sql-formatter-help>
  </ng-template>
</app-application-page-template>
