<app-application-page-template [initialHelpDrawerContent]="colorPaletteHelpContent">
  <div class="margin-bottom-16">
    <app-heading headingType="h2">
      <span i18n="@@page.colorPalette.title">カラーパレット</span>
      <button
        type="button"
        class="right"
        mat-icon-button
        i18n-aria-label="@@page.colorPalette.help.openAriaLabel"
        aria-label="カラーパレットのヘルプを開く"
        (click)="onOpenHelp(colorPaletteHelpContent)">
        <mat-icon>help_outline</mat-icon>
      </button>
    </app-heading>
  </div>
  <app-color-palette-input-card
    (generate)="onGenerate($event)"
  ></app-color-palette-input-card>
  <div class="spacer"></div>
  <app-color-palette-output-card
    #output
  ></app-color-palette-output-card>

  <ng-template #colorPaletteHelpContent>
    <app-color-palette-help></app-color-palette-help>
  </ng-template>
</app-application-page-template>
