<app-application-page-template>
  <div class="margin-bottom-16">
    <app-heading headingType="h2">
      <span i18n="@@page.colorPalette.title">カラーパレット</span>
      <a
        href="#color-palette-help"
        class="right"
        mat-icon-button
        i18n-aria-label="@@page.colorPalette.help.openAriaLabel"
        aria-label="カラーパレットの解説へ移動">
        <mat-icon>help_outline</mat-icon>
      </a>
    </app-heading>
  </div>
  <app-color-palette-input-card
    (generate)="onGenerate($event)"
  ></app-color-palette-input-card>
  <div class="spacer"></div>
  <app-color-palette-output-card
    #output
  ></app-color-palette-output-card>

  <section id="color-palette-help" class="margin-top-24">
    <div class="margin-bottom-8">
      <app-heading headingType="h3" i18n="@@page.colorPalette.help.sectionTitle">カラーパレットについて</app-heading>
    </div>
    <app-color-palette-help></app-color-palette-help>
  </section>
</app-application-page-template>
