.content {
  padding: 8px 0;
  height: 100%;
  background: var(--mat-sys-surface-container);

  .mat-mdc-table {
    background: var(--mat-sys-surface-container);
  }

  .mat-column-position {
    color: var(--mat-sys-outline);
    border-right-color: var(--mat-sys-outline);
  }
}

.user-select-none {
  user-select: none;
}

.mat-column-position {
  width: 32px;
  border-right-style: solid;
  border-right-width: 1px;
}

.mat-mdc-cell {
  border-bottom: none !important;
}

.mat-mdc-row {
  height: 24px;
}
