.content {
  padding: 8px 0;
  height: calc(100% - 16px);
  background: var(--mat-sys-surface-container);

  .mat-mdc-table {
    background: var(--mat-sys-surface-container);
  }

  .mat-column-position {
    color: var(--mat-sys-outline);
    border-right-color: var(--mat-sys-outline);
  }
}

.user-select-none {
  user-select: none;
}

.mat-column-position {
  width: 32px;
  border-right-style: solid;
  border-right-width: 1px;
}

.mat-mdc-cell {
  border-bottom: none !important;
}

.mat-mdc-row {
  min-height: 24px;
  height: auto;
}

.word-wrap {
  .mat-column-position {
    vertical-align: top;
  }

  .mat-column-line {
    white-space: pre-wrap;
    overflow-wrap: anywhere;
    word-break: break-word;
  }
}

.no-wrap {
  overflow-x: auto;

  .mat-column-line {
    white-space: pre;
  }
}
