<app-application-page-template>
  <div class="margin-bottom-16">
    <app-heading headingType="h2">
      <span i18n="@@page.svgToPng.title">SVGビューアー</span>
      <a
        href="#svg-viewer-help"
        class="right"
        mat-icon-button
        i18n-aria-label="@@page.svgToPng.help.openAriaLabel"
        aria-label="SVGビューアーの解説へ移動">
        <mat-icon>help_outline</mat-icon>
      </a>
    </app-heading>
  </div>
  <app-svg-to-png-input-card
    #input
    (settingsChange)="onSettingsChange($event)"
    (svgCodeChange)="onSvgCodeChange($event)"
  ></app-svg-to-png-input-card>
  <div class="spacer"></div>
  <app-svg-to-png-output-card
    #output
  ></app-svg-to-png-output-card>

  <section id="svg-viewer-help" class="margin-top-24">
    <div class="margin-bottom-8">
      <app-heading headingType="h3" i18n="@@page.svgToPng.help.sectionTitle">SVGビューアーについて</app-heading>
    </div>
    <app-svg-viewer-help></app-svg-viewer-help>
  </section>
</app-application-page-template>
