.header-toolbar {
  font: var(--mat-sys-headline-small);
  @media (prefers-color-scheme: light) {
    --mat-toolbar-container-background-color: var(--brand-color-header);
    --mat-toolbar-container-text-color: var(--mat-sys-on-primary);
    --mat-icon-button-icon-color: var(--mat-sys-on-primary);
  }
  @media (prefers-color-scheme: dark) {
    --mat-toolbar-container-background-color: var(--brand-color-header-dark);
    --mat-toolbar-container-text-color: var(--mat-sys-on-surface);
    --mat-icon-button-icon-color: var(--mat-sys-on-surface);
  }
}

.spacer {
  flex: 1 1 auto;
}

.logo {
  display: block;
  padding: 0 16px;
}

@media screen and (max-width: 600px) {
  /*for smart phone*/
  .logo {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  .title {
    display: none;
  }
}

@media screen and (min-width: 600px) {
  /*for pc*/
  .logo {
    width: 40px;
    height: 40px;
  }
}
