<app-application-page-template>
  <div class="margin-bottom-16">
    <app-heading headingType="h2">
      <span i18n="@@page.ipCidr.title">IP/CIDR計算機</span>
      <a
        href="#ip-cidr-calculator-help"
        class="right"
        mat-icon-button
        i18n-aria-label="@@page.ipCidr.help.openAriaLabel"
        aria-label="IP/CIDR計算機の解説へ移動">
        <mat-icon>help_outline</mat-icon>
      </a>
    </app-heading>
  </div>
  <app-ip-cidr-input-card
    (calculate)="onCalculate($event)"
  ></app-ip-cidr-input-card>
  <div class="spacer"></div>
  <app-ip-cidr-output-card
    #output
  ></app-ip-cidr-output-card>

  <section id="ip-cidr-calculator-help" class="margin-top-24">
    <div class="margin-bottom-8">
      <app-heading headingType="h3" i18n="@@page.ipCidr.help.sectionTitle">IP/CIDR計算機について</app-heading>
    </div>
    <app-ip-cidr-help></app-ip-cidr-help>
  </section>
</app-application-page-template>
