<div class="container">
  <div class="content">
    <div class="card">
      <mat-card>
        <mat-card-content>
          <div class="card-content">
            @if (title) {
              <div class="title">
                {{ title }}
              </div>
            }
            <ng-content />
          </div>
        </mat-card-content>
        <mat-card-footer>
          <div class="button-area">
            <a mat-stroked-button class="button" [routerLink]="'/'" i18n="@@common.goBackHome">ホームに戻る</a>
          </div>
        </mat-card-footer>
      </mat-card>
      <div class="copy-right">
        <span class="credit-label" i18n="@@common.copyRight">© 2024 Yutaka Morihara</span>
      </div>
    </div>
  </div>
</div>