.container .title {
  font: var(--mat-sys-headline-small);
}

.card {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 320px;
  opacity: 1;
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.copy-right {
  margin-top: 40px;
  text-align: center;
  color: #fff;
}

.card-content {
  padding: 0 8px;
  white-space: pre-line;
}

.title {
  margin-bottom: 16px;
}

.button {
  margin: 16px 24px;
  width: calc(100% - 48px);
}
