<mat-nav-list class="list">
  <mat-list>
    <mat-list-item class="item">
      <mat-icon matListItemIcon class="icon" svgIcon="ulid"></mat-icon>
      <div matListItemLine class="line">
        <app-hyper-link-text url="/ulid-generator" i18n="@@page.ulid.menu">ULID生成</app-hyper-link-text>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="item">
      <mat-icon matListItemIcon class="icon" svgIcon="uuid"></mat-icon>
      <div matListItemLine class="line">
        <app-hyper-link-text url="/uuid-generator" i18n="@@page.uuid.menu">UUID生成</app-hyper-link-text>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="item">
      <mat-icon matListItemIcon class="icon" svgIcon="json"></mat-icon>
      <div matListItemLine class="line">
        <app-hyper-link-text url="/json-formatter" i18n="@@page.jsonFormatter.menu">JSON整形</app-hyper-link-text>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item class="item">
      <mat-icon matListItemIcon class="icon" svgIcon="password"></mat-icon>
      <div matListItemLine class="line">
        <app-hyper-link-text url="/password-generator" i18n="@@page.password.menu">パスワード生成</app-hyper-link-text>
      </div>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
</mat-nav-list>
