@if (person()) {
  <div class="sidenav-header sidenav-width">
    <div class="person-area">
      <div class="person-icon">
        <mat-icon>account_circle</mat-icon>
      </div>
      <div class="person-name">
        {{ person()!.personName }}
      </div>
    </div>
  </div>
}
@if (topItem(); as top) {
  <mat-nav-list>
    <a mat-list-item class="item"
      [routerLink]="top.routerLink"
      (click)="clickMenu.emit()">
      @if (top.icon) {
        <mat-icon matListItemIcon>{{ top.icon }}</mat-icon>
      }
      @if (top.svgIcon) {
        <mat-icon matListItemIcon [svgIcon]="top.svgIcon"></mat-icon>
      }
      <span matListItemTitle>{{ top.label }}</span>
    </a>
  </mat-nav-list>
}
@if (categories(); as cats) {
  <mat-accordion multi class="accordion">
    @for (category of cats; track $index) {
      <mat-expansion-panel class="expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ category.label }}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          @for (item of category.items; track $index) {
            <a mat-list-item class="item"
              [routerLink]="item.routerLink"
              (click)="clickMenu.emit()">
              @if (item.icon) {
                <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
              }
              @if (item.svgIcon) {
                <mat-icon matListItemIcon [svgIcon]="item.svgIcon"></mat-icon>
              }
              <span matListItemTitle>{{ item.label }}</span>
            </a>
          }
        </mat-nav-list>
      </mat-expansion-panel>
    }
  </mat-accordion>
}
@if (items(); as flatItems) {
  @if (!categories()) {
    <!-- Fallback flat list: only rendered when `categories` is not provided (@deprecated) -->
    <div class="sidenav-width">
      <mat-nav-list>
        @for (item of flatItems; track $index) {
          <a mat-list-item
            class="item"
            [routerLink]="item.routerLink"
            (click)="clickMenu.emit()">
            @if (item.icon) {
              <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
            }
            @if (item.svgIcon) {
              <mat-icon matListItemIcon [svgIcon]="item.svgIcon"></mat-icon>
            }
            <span matLine>{{ item.label }}</span>
          </a>
        }
      </mat-nav-list>
    </div>
  }
}
