@if (person) {
  <div class="sidenav-header sidenav-width">
    <div class="person-area">
      <div class="person-icon">
        <mat-icon>account_circle</mat-icon>
      </div>
      <div class="person-name">
        {{ person.personName }}
      </div>
    </div>
  </div>
}
@if (topItem) {
  <mat-nav-list>
    <a mat-list-item class="item"
      [routerLink]="topItem.routerLink"
      (click)="this.clickMenu.emit()">
      @if (topItem.icon) {
        <mat-icon matListItemIcon>{{ topItem.icon }}</mat-icon>
      }
      @if (topItem.svgIcon) {
        <mat-icon matListItemIcon [svgIcon]="topItem.svgIcon"></mat-icon>
      }
      <span matListItemTitle>{{ topItem.label }}</span>
    </a>
  </mat-nav-list>
}
@if (categories) {
  <mat-accordion multi class="accordion">
    @for (category of categories; track $index) {
      <mat-expansion-panel class="expansion-panel">
        <mat-expansion-panel-header>
          <mat-panel-title>{{ category.label }}</mat-panel-title>
        </mat-expansion-panel-header>
        <mat-nav-list>
          @for (item of category.items; track $index) {
            <a mat-list-item class="item"
              [routerLink]="item.routerLink"
              (click)="onItemClick(item.routerLink)">
              @if (item.icon) {
                <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
              }
              @if (item.svgIcon) {
                <mat-icon matListItemIcon [svgIcon]="item.svgIcon"></mat-icon>
              }
              <span matListItemTitle>{{ item.label }}</span>
            </a>
          }
        </mat-nav-list>
      </mat-expansion-panel>
    }
  </mat-accordion>
}
@if (items && !categories) {
  <!-- Fallback flat list: only rendered when `categories` is not provided (@deprecated) -->
  <div class="sidenav-width">
    <mat-nav-list>
      @for (item of items; track $index) {
        <a mat-list-item
          class="item"
          [routerLink]="item.routerLink"
          (click)="onItemClick(item.routerLink)">
          @if (item.icon) {
            <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          }
          @if (item.svgIcon) {
            <mat-icon matListItemIcon [svgIcon]="item.svgIcon"></mat-icon>
          }
          <span matLine>{{ item.label }}</span>
        </a>
      }
    </mat-nav-list>
  </div>
}
