<app-application-page-template [initialHelpDrawerContent]="uuidGenHelpContent">
  <div class="margin-bottom-16">
    <app-heading headingType="h2">
      <span i18n="@@page.uuid.title">UUID生成ツール</span>
      <button
        type="button"
        class="right"
        mat-icon-button
        i18n-aria-label="@@page.uuid.help.openAriaLabel"
        aria-label="UUID生成ツールのヘルプを開く"
        (click)="onOpenHelp(uuidGenHelpContent)">
        <mat-icon>help_outline</mat-icon>
      </button>
    </app-heading>
  </div>
  <app-uuid-gen-input-card
    (generate)="onGenerate($event)"
  ></app-uuid-gen-input-card>
  <div class="spacer"></div>
  <app-uuid-gen-output-card
    #output
  ></app-uuid-gen-output-card>

  <ng-template #uuidGenHelpContent>
    <app-uuid-gen-help></app-uuid-gen-help>
  </ng-template>
</app-application-page-template>
