.svg-area {
  margin-top: 16px;
  width: 100%;
}

.settings-wrapper {
  margin-top: 24px;
}

.settings-group {
  margin-bottom: 24px;
}

.flex {
  display: flex;
  gap: 8px 32px;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.input-form-wrapper {
  margin-top: 16px;
}

.input-form {
  width: 144px;
  margin-bottom: 0;

  ::ng-deep .mat-mdc-form-field-bottom-align::before {
    height: 0 !important;
  }

  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    height: 0;
    margin-top: 0;
  }
}

.background-color-field {
  ::ng-deep .mdc-text-field {
    padding-right: 16px !important;
  }
}

.scale-wrapper {
  margin-top: 8px;
  width: 320px;

  .scale-label {
    display: block;
    font-size: 14px;
    color: var(--mat-sys-on-surface-variant);
  }

  .scale-control {
    display: flex;
    align-items: center;
    gap: 16px;

    mat-slider {
      flex: 1;
    }

    .scale-value {
      min-width: 60px;
      text-align: right;
      font-weight: 500;
    }
  }
}

.color-picker-input {
  width: 24px;
  height: 24px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  box-shadow: inset 0 0 0 0.5px var(--mat-sys-outline-variant);

  &[matSuffix] {
    margin-left: 0;
  }

  &::-webkit-color-swatch-wrapper,
  &::-webkit-color-swatch {
    border: none;
    padding: 0;
    border-radius: 50%;
  }

  &::-moz-color-swatch {
    border: none;
    border-radius: 50%;
  }
}
