.flex {
  display: flex;
  gap: 8px 32px;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.input-form-wrapper {
  margin-top: 24px;
}

.input-form-s {
  width: 144px;
}

.input-form-m {
  width: 320px;
}

.input-form-s,
.input-form-m {
  margin-bottom: 0;

  ::ng-deep .mat-mdc-form-field-bottom-align::before {
    height: 0 !important;
  }

  ::ng-deep .mat-mdc-form-field-subscript-wrapper {
    height: 0;
    margin-top: 0;
  }
}
