.flex {
  display: flex;
  gap: 8px 32px;
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.input-form-wrapper {
  margin-top: 24px;
}

.input-form-s {
  width: 144px;
}

.input-form-m {
  width: 320px;
}

.toggle {
  margin-bottom: 20px;
}
