.flex {
  display: flex;
  gap: var(--arc-space-xx-small) var(--arc-space-large);
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.input-form-wrapper {
  margin-top: var(--arc-space-medium);
}

.input-form-s {
  width: 144px;
}

.input-form-m {
  width: 320px;
}

.toggle {
  margin-bottom: 20px;
}
