<mat-card appearance="raised">
  @if (formGroup) {
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <app-heading headingType="h3" i18n="@@page.password.card.input.heading">生成条件</app-heading>
        <div class="input-form-wrapper flex wrap">
          <mat-form-field class="input-form">
            <mat-label i18n="@@page.password.card.input.length">文字数</mat-label>
            <input matInput type="number"
              placeholder="1〜50"
              i18n-placeholder="@@page.password.card.input.placeholder.length"
              formControlName="length">
          </mat-form-field>
          <mat-form-field class="input-form">
            <mat-label i18n="@@page.password.card.input.count">個数</mat-label>
            <input matInput type="number"
              placeholder="1〜50"
              i18n-placeholder="@@page.password.card.input.placeholder.count"
              formControlName="count">
          </mat-form-field>
          <mat-form-field class="input-form">
            <mat-label i18n="@@page.password.card.input.characterType">文字</mat-label>
            <mat-select formControlName="characterType">
              @for (type of characterTypes; track type.value) {
                <mat-option [value]="type.value">{{ type.label }}</mat-option>
              }
            </mat-select>
          </mat-form-field>
          <div class="flex toggle">
            <mat-checkbox formControlName="excludeSimilar" i18n="@@page.password.card.input.excludeSimilar">
              類似文字を除く
            </mat-checkbox>
          </div>
        </div>
        @if (errorMessage !== null) {
          <mat-error>{{ errorMessage }}</mat-error>
        }
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-flat-button [disabled]="hasError" type="submit" i18n="@@page.password.card.input.generate">生成</button>
      </mat-card-actions>
    </form>
  }
</mat-card>
