@media screen and (max-width: 600px) {
  /*for smart phone*/
  .header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
  }

  .sidenav {
    position: fixed;
    top: var(--mat-toolbar-mobile-height);
    left: 0;
    right: 0;
    overflow-y: visible;
  }
}
