.container {
  width: auto;
  min-width: 1280px;
}

.content {
  padding: 8px 32px;
}

@media screen and (max-width:600px) {
    /*for smart phone*/
    .container{
        height: calc(100vh - 56px);
    }
}
 
@media screen and (min-width:600px) {
    /*for pc*/
    .container{
        height: calc(100vh - 64px);
    }
}
