<app-application-page-template [initialHelpDrawerContent]="ulidGenHelpContent">
  <div class="margin-bottom-16">
    <app-heading headingType="h2">
      <span i18n="@@page.ulid.title">ULID生成ツール</span>
      <button
        type="button"
        class="right"
        mat-icon-button
        i18n-aria-label="@@page.ulid.help.openAriaLabel"
        aria-label="ULID生成ツールのヘルプを開く"
        (click)="onOpenHelp(ulidGenHelpContent)">
        <mat-icon>help_outline</mat-icon>
      </button>
    </app-heading>
  </div>
  <app-ulid-gen-input-card
    (generate)="onGenerate($event)"
  ></app-ulid-gen-input-card>
  <div class="spacer"></div>
  <app-ulid-gen-output-card
    #output
  ></app-ulid-gen-output-card>

  <ng-template #ulidGenHelpContent>
    <app-ulid-gen-help></app-ulid-gen-help>
  </ng-template>
</app-application-page-template>
