<app-application-page-template>
  <div class="margin-bottom-16">
    <app-heading headingType="h2">
      <span i18n="@@page.ulid.title">ULID生成ツール</span>
      <a
        href="#ulid-generator-help"
        class="right"
        mat-icon-button
        i18n-aria-label="@@page.ulid.help.openAriaLabel"
        aria-label="ULID生成ツールの解説へ移動">
        <mat-icon>help_outline</mat-icon>
      </a>
    </app-heading>
  </div>
  <app-ulid-gen-input-card
    (generate)="onGenerate($event)"
  ></app-ulid-gen-input-card>
  <div class="spacer"></div>
  <app-ulid-gen-output-card
    #output
  ></app-ulid-gen-output-card>

  <section id="ulid-generator-help" class="margin-top-24">
    <div class="margin-bottom-8">
      <app-heading headingType="h3" i18n="@@page.ulid.help.sectionTitle">ULID生成ツールについて</app-heading>
    </div>
    <app-ulid-gen-help></app-ulid-gen-help>
  </section>
</app-application-page-template>
