.margin-bottom-16 {
  margin-bottom: 16px;
}

.spacer {
  padding: 4px;
}

.help-section {
  p {
    margin-top: 12px;
    margin-bottom: 12px;
  }

  ul {
    padding-inline-start: 24px;
    margin: 0;
  }
}
