<app-application-page-template [initialHelpDrawerContent]="jsonHelpDrawerContent">
  <div class="margin-bottom-16">
    <app-heading headingType="h2">
      <span i18n="@@page.json.title">JSON整形ツール</span>
      <button
        type="button"
        class="right"
        mat-icon-button
        i18n-aria-label="@@page.json.help.openAriaLabel"
        aria-label="JSON整形ツールのヘルプを開く"
        (click)="onOpenHelp(jsonHelpDrawerContent)">
        <mat-icon>help_outline</mat-icon>
      </button>
    </app-heading>
  </div>
  <app-json-formatter-input-card></app-json-formatter-input-card>

  <ng-template #jsonHelpDrawerContent>
    <app-json-formatter-help></app-json-formatter-help>
  </ng-template>
</app-application-page-template>
