<app-application-page-template>
  <div class="margin-bottom-16">
    <app-heading headingType="h2">
      <span i18n="@@page.json.title">JSON整形ツール</span>
      <a
        href="#json-formatter-help"
        class="right"
        mat-icon-button
        i18n-aria-label="@@page.json.help.openAriaLabel"
        aria-label="JSON整形ツールの解説へ移動">
        <mat-icon>help_outline</mat-icon>
      </a>
    </app-heading>
  </div>
  <app-json-formatter-input-card></app-json-formatter-input-card>

  <section id="json-formatter-help" class="margin-top-24">
    <div class="margin-bottom-8">
      <app-heading headingType="h3" i18n="@@page.json.help.sectionTitle">JSON整形ツールについて</app-heading>
    </div>
    <app-json-formatter-help></app-json-formatter-help>
  </section>
</app-application-page-template>
