<mat-card appearance="raised">
  @if (formGroup && text) {
    <form [formGroup]="formGroup" (submit)="onSubmit()">
      <mat-card-content>
        <app-heading headingType="h3">{{ text['ulidGenInputHeading'] }}</app-heading>
        <div class="input-form-wrapper flex wrap">
          <mat-form-field class="input-form">
            <mat-label>{{ text['generatingSize'] }}</mat-label>
            <input matInput type="number" [placeholder]="text['generatingSizePlaceholder']" formControlName="generatingSize">
          </mat-form-field>
          <div class="flex toggle">
            <mat-slide-toggle formControlName="isMonoIncreaseMode">
              {{ text['isMonoIncreaseMode'] }}
            </mat-slide-toggle>
            <app-hint-icon [message]="text['isMonoIncreaseModeHint']" class="hint"></app-hint-icon>
          </div>
          <mat-slide-toggle formControlName="isSelectedTimeMode" class="toggle">{{ text['isSelectedTimeMode'] }}</mat-slide-toggle>
          <mat-form-field class="input-form-with-icon">
            <mat-label>{{ text['baseUnixDatetime'] }}</mat-label>
            <input matInput type="number" min="0" formControlName="baseUnixDatetime">
            <button matSuffix mat-icon-button aria-label="calendar" [disabled]="formGroup.controls['baseUnixDatetime'].disabled" (click)="onClickCalendarButton()">
              <mat-icon>edit_calendar</mat-icon>
            </button>
            <button matSuffix mat-icon-button aria-label="reload" [disabled]="formGroup.controls['baseUnixDatetime'].disabled" (click)="onClickReload()">
              <mat-icon>refresh</mat-icon>
            </button>
          </mat-form-field>
          </div>
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-flat-button type="submit" [disabled]="hasError">{{ text['generate'] }}</button>
      </mat-card-actions>
    </form>
  }
</mat-card>
