<mat-card appearance="raised">
  @if (formGroup && text) {
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <app-heading headingType="h3">{{ text['ulidGenInputHeading'] }}</app-heading>
        <div class="input-form-wrapper flex wrap">
          <mat-form-field class="input-form">
            <mat-label>{{ text['generatingSize'] }}</mat-label>
            <input matInput type="number" [placeholder]="text['generatingSizePlaceholder']" formControlName="generatingSize">
          </mat-form-field>
          <mat-form-field class="input-form-with-icon">
            <mat-label>{{ text['baseTimestamp'] }}</mat-label>
            <input matInput type="number" min="0" formControlName="baseTimestamp">
            <button matSuffix mat-icon-button type="button" aria-label="calendar"
              [matTooltip]="text['selectDatetime']"
              (click)="onClickCalendarButton()">
              <mat-icon>edit_calendar</mat-icon>
            </button>
            <button matSuffix mat-icon-button type="button" aria-label="reload"
              [matTooltip]="text['reload']"
              (click)="onClickReload()">
              <mat-icon>refresh</mat-icon>
            </button>
          </mat-form-field>
          <div class="flex toggle">
            <mat-slide-toggle formControlName="isMonoIncreaseMode">
              {{ text['isMonoIncreaseMode'] }}
            </mat-slide-toggle>
            <app-hint-icon [message]="text['isMonoIncreaseModeHint']" class="hint"></app-hint-icon>
          </div>
        </div>
        @if (errorMessage !== null) {
          <mat-error>{{ errorMessage }}</mat-error>
        }
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-flat-button [disabled]="hasError" type="submit">{{ text['generate'] }}</button>
      </mat-card-actions>
    </form>
  }
</mat-card>
