.flex {
  display: flex;
  gap: var(--arc-space-xx-small) var(--arc-space-large);
  align-items: center;
}

.wrap {
  flex-wrap: wrap;
}

.input-form-wrapper {
  margin-top: var(--arc-space-medium);
}

.input-form {
  width: 168px;
}

::ng-deep .input-form-with-icon .mat-mdc-form-field-infix {
  width: 206px;
}

.hint {
  margin-left: var(--arc-space-small);
}

.toggle {
  margin-bottom: 20px;
}
