<app-application-page-template [initialHelpDrawerContent]="apiKeyGenHelpContent">
  <div class="margin-bottom-16">
    <app-heading headingType="h2">
      <span i18n="@@page.apiKey.title">APIキー生成ツール</span>
      <button
        type="button"
        class="right"
        mat-icon-button
        i18n-aria-label="@@page.apiKey.help.openAriaLabel"
        aria-label="APIキー生成ツールのヘルプを開く"
        (click)="onOpenHelp(apiKeyGenHelpContent)">
        <mat-icon>help_outline</mat-icon>
      </button>
    </app-heading>
  </div>
  <app-api-key-gen-input-card
    (generate)="onGenerate($event)"
  ></app-api-key-gen-input-card>
  <div class="spacer"></div>
  <app-api-key-gen-output-card
    #output
  ></app-api-key-gen-output-card>

  <ng-template #apiKeyGenHelpContent>
    <app-api-key-gen-help></app-api-key-gen-help>
  </ng-template>
</app-application-page-template>
