<mat-card appearance="raised">
  @if (formGroup) {
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
      <mat-card-content>
        <app-heading headingType="h3" i18n="@@page.uuid.card.input.heading">生成条件</app-heading>
        <div class="input-form-wrapper flex wrap">
          <mat-form-field class="input-form">
            <mat-label i18n="@@page.uuid.card.input.generatingSize">生成数</mat-label>
            <input matInput type="number"
              placeholder="最大1,000"
              i18n-placeholder="@@page.uuid.card.input.placeholder.generatingSize"
              formControlName="generatingSize">
          </mat-form-field>
          <div class="flex">
            <mat-form-field class="input-form">
              <mat-label i18n="@@page.uuid.card.input.uuidVersion">バージョン</mat-label>
              <mat-select formControlName="version" aria-label="UUID version">
                <mat-option value="v1">v1</mat-option>
                <mat-option value="v4">v4</mat-option>
                <mat-option value="v7">v7</mat-option>
              </mat-select>
            </mat-form-field>
            <app-hint-icon [message]="versionHintMessage" class="hint"></app-hint-icon>
          </div>
        </div>
        @if (errorMessage !== null) {
          <mat-error>{{ errorMessage }}</mat-error>
        }
      </mat-card-content>
      <mat-card-actions align="end">
        <button mat-flat-button [disabled]="hasError" type="submit" i18n="@@page.uuid.card.input.generate">生成</button>
      </mat-card-actions>
    </form>
  }
</mat-card>
