<app-application-page-template>
  <div class="margin-bottom-16">
    <app-heading headingType="h2">
      <span i18n="@@page.textDiff.title">テキスト比較ツール</span>
      <a
        href="#text-diff-help"
        class="right"
        mat-icon-button
        i18n-aria-label="@@page.textDiff.help.openAriaLabel"
        aria-label="テキスト比較ツールの解説へ移動">
        <mat-icon>help_outline</mat-icon>
      </a>
    </app-heading>
  </div>
  <app-text-diff-input-card
    (compare)="onCompare($event)"
    (clear)="onClear()"
  ></app-text-diff-input-card>
  <div class="spacer"></div>
  <app-text-diff-output-card
    #output
  ></app-text-diff-output-card>

  <section id="text-diff-help" class="margin-top-24">
    <div class="margin-bottom-8">
      <app-heading headingType="h3" i18n="@@page.textDiff.help.sectionTitle">テキスト比較ツールについて</app-heading>
    </div>
    <app-text-diff-help></app-text-diff-help>
  </section>
</app-application-page-template>
