<mat-card appearance="raised">
  <mat-card-content>
    <app-heading headingType="h3">
      <span i18n="@@page.password.card.output.heading">生成結果</span>
      <div class="right">
        <button mat-icon-button
          matTooltip="クリップボードにコピー"
          i18n-matTooltip="@@common.copyToClipboard"
          (click)="onClickCopy()">
          <mat-icon>content_copy</mat-icon>
        </button>
      </div>
    </app-heading>
    <div class="text-viewer-table-wrapper">
      <app-text-viewer-table [value]="passwordStrings"></app-text-viewer-table>
    </div>
  </mat-card-content>
</mat-card>
