.codemirror-wrapper {
  min-height: 189.875px;
  background-color: var(--mat-sys-surface);
  border: 1px solid var(--mat-sys-outline-variant);
  border-radius: 8px;
  overflow: hidden;
  cursor: text;

  &:focus-within {
    border-color: var(--mat-sys-primary);
  }
}
