<app-application-page-template>
  <article>
    @if (article(); as currentArticle) {
      <mat-card class="article-card">
        <mat-card-content>
          <div class="margin-bottom-8">
            <app-heading headingType="h2">{{ currentArticle.title }}</app-heading>
          </div>
          <p class="published-date margin-bottom-16">
            <span i18n="@@article.common.publishedLabel">公開日:</span> {{ currentArticle.publishedDate }}
          </p>

          <section class="margin-bottom-24 article-body" [innerHTML]="html()"></section>

          <app-article-related-tools [routerLinks]="currentArticle.relatedTools"></app-article-related-tools>
        </mat-card-content>
      </mat-card>
    }

    <div class="margin-top-16">
      <a mat-stroked-button routerLink="/articles">
        <mat-icon>arrow_back</mat-icon>
        <span i18n="@@article.common.backToList">記事一覧に戻る</span>
      </a>
    </div>
  </article>
</app-application-page-template>
