name: Auto approve
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  auto-approve:
    if: | 
      ! github.event.pull_request.draft &&
      github.event.pull_request.user.login == 'morihara-y'
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - id: create_token
        uses: tibdex/github-app-token@v2
        with:
          app_id: ${{ secrets.AUTO_APPROVE_APP_ID }}
          private_key: ${{ secrets.AUTO_APPROVE_KEY }}
      - id: auto_approve_action
        uses: hmarr/auto-approve-action@v4
        with:
          github-token: ${{ steps.create_token.outputs.token }}
