name: Auto approve
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - ready_for_review

jobs:
  auto-approve:
    if: | 
      ! github.event.pull_request.draft
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - id: create_token
        uses: tibdex/github-app-token@v2
        with:
          app_id: ${{ secrets.AUTO_APPROVE_APP_ID }}
          private_key: ${{ secrets.AUTO_APPROVE_KEY }}
      - id: get_admin_members
        continue-on-error: true
        run: |
          gh api /orgs/${{ github.repository_owner }}/teams/admin/memberships/${{ github.event.pull_request.user.login }}
        env:
          GH_TOKEN: ${{ steps.create_token.outputs.token }}
      - id: auto_approve_action
        if: steps.get_admin_members.outcome == 'success'
        uses: hmarr/auto-approve-action@v4
        with:
          github-token: ${{ steps.create_token.outputs.token }}
