<app-application-page-template>
  <div class="margin-bottom-16">
    <app-heading headingType="h2">
      <span i18n="@@page.urlEncoder.title">URLエンコード・デコードツール</span>
      <a
        href="#url-encoder-help"
        class="right"
        mat-icon-button
        i18n-aria-label="@@page.urlEncoder.help.openAriaLabel"
        aria-label="URLエンコード・デコードツールの解説へ移動">
        <mat-icon>help_outline</mat-icon>
      </a>
    </app-heading>
  </div>
  <app-url-encoder-input-card
    (convert)="onConvert($event)"
    (clear)="onClear()"
  ></app-url-encoder-input-card>
  <div class="spacer"></div>
  <app-url-encoder-output-card
    #output
  ></app-url-encoder-output-card>

  <section id="url-encoder-help" class="margin-top-24">
    <div class="margin-bottom-8">
      <app-heading headingType="h3" i18n="@@page.urlEncoder.help.sectionTitle">URLエンコード・デコードツールについて</app-heading>
    </div>
    <app-url-encoder-help></app-url-encoder-help>
  </section>
</app-application-page-template>
