<app-application-page-template [initialHelpDrawerContent]="urlEncoderHelpContent">
  <div class="margin-bottom-16">
    <app-heading headingType="h2">
      <span i18n="@@page.urlEncoder.title">URLエンコード・デコードツール</span>
      <button
        type="button"
        class="right"
        mat-icon-button
        i18n-aria-label="@@page.urlEncoder.help.openAriaLabel"
        aria-label="URLエンコード・デコードツールのヘルプを開く"
        (click)="onOpenHelp(urlEncoderHelpContent)">
        <mat-icon>help_outline</mat-icon>
      </button>
    </app-heading>
  </div>
  <app-url-encoder-input-card
    (convert)="onConvert($event)"
    (clear)="onClear()"
  ></app-url-encoder-input-card>
  <div class="spacer"></div>
  <app-url-encoder-output-card
    #output
  ></app-url-encoder-output-card>

  <ng-template #urlEncoderHelpContent>
    <app-url-encoder-help></app-url-encoder-help>
  </ng-template>
</app-application-page-template>
